@import "tailwindcss";
@plugin "daisyui";

html {
    font-family: 'Kantumruy Pro';
}

a {
    cursor: pointer;
}

.welcomeTitle {
    font-family: 'DM Serif Text';
}

.guillemets {
    font-family: 'Lancelot';
}