@import "tailwindcss";
@plugin "daisyui";

html {
    font-family: 'Kantumruy Pro';
    scroll-behavior: smooth;
}

html,
body {
    background-color: white !important;
    color: black !important;
}

a {
    cursor: pointer;
}

.welcomeTitle {
    font-family: 'DM Serif Text';
}

.guillemets {
    font-family: 'Lancelot';
}